doctype html
<html lang="en">
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title test
    link(rel="icon" type="image/x-icon" href="img/sprites/cube1.svg")
    link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png")
    link(rel="stylesheet" href="./css/styles/style.min.css")
    link(rel="stylesheet" href="./css/fonts/fonts.css")

  body
    block content
      include ./page_1

    block scripts
      script(src='./js/main.min.js')