header
  .navCont
    .navCont__logo
      img(src="./img/favicon-and-logo/logo.png").navCont__logo__img
      img(src="./img/img/menue-burger.svg").navCont__logo__mobBurger

    .navCont__list
      a(href='javascript:void(0)').navCont__list__links Главная 
      a(href='javascript:void(0)').navCont__list__links Что даст обучение
      a(href='javascript:void(0)').navCont__list__links--btn Личный кабинет

    .navCont__list__mob.hide
      .navCont__logo
        img(src="./img/favicon-and-logo/logo.png").navCont__logo__img
        img(src="./img/img/close_icon.svg").navCont__logo__closeBtn

      .navCont__links
        a(href='javascript:void(0)').navCont__list__links Главная
        a(href='javascript:void(0)').navCont__list__links Что даст обучение

      a(href='javascript:void(0)').navCont__list__links--btn Личный кабинет

  .topBlock
    .article
      h1.article__title Не упусти <br> возможность войти<br>в 
        b.article__title__boldText прибыльную нишу
      p.article__paragraph Получи все нужные навыки для заработка <br> на NFT всего за 28 дней!
      a(htef='javascript:void(0)').article__link Начать зарабатывать на NFT

    img(src='./img/img/menSmile.png').topBlock_img

    h1.topBlock__title__mob Не упусти <br> возможность войти<br>в 
      b.topBlock__title__boldText прибыльную нишу

  .popup.hide
    .popup__wrap
      h2.popup__wrap__title Начни прямо сейчас!
      p.popup__wrap__paragraph Получи все нужные навыки для заработка на NFT всего за 28 дней!
      input(type="text" placeholder='Ваш email').popup__wrap__input 
      .popup__wrap__button Оплатить
      .popup__wrap__btnClose

main 
  section.mainSect
    .mainSect__absoluteCircl_1
    .mainSect__absoluteCircl_2
    .mainSect__absoluteCircl_3

    h2.mainSect__title Что даст тебе обучение?

    .mainSectPar
      .mainSectPar__conts
        .mainSectPar__conts__front
          img(src='./img/img/smile-1.png' alt='img smile').mainSectPar__conts__img
          p.mainSectPar__conts__paragraph Откроешь свой первый криптокошелек и научишься с ним работать
        .mainSectPar__conts__back

      .mainSectPar__conts
        .mainSectPar__conts__front
          img(src='./img/img/smile-2.png' alt='img smile').mainSectPar__conts__img
          p.mainSectPar__conts__paragraph Поймёшь, как выбирать правильные дропы
        .mainSectPar__conts__back

    .mainSectPar
      .mainSectPar__conts
        .mainSectPar__conts__front
          img(src='./img/img/smile-3.png' alt='img smile').mainSectPar__conts__img
          p.mainSectPar__conts__paragraph Построишь план по быстрому приумножению заработанных средств
        .mainSectPar__conts__back

      .mainSectPar__conts
        .mainSectPar__conts__front
          img(src='./img/img/smile-4.png' alt='img smile').mainSectPar__conts__img
          p.mainSectPar__conts__paragraph Узнаешь кто такие холдеры и флипперы
        .mainSectPar__conts__back